/* Universal Styles */

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

header,
main {
    max-width: 1160px;
    margin: auto;
}

/* Styles for Bigger screens */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 34px;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 60px;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.link-container li a {
    text-decoration: none;
    font-weight: 700;
}

.home a {
    color: #FEA301;
}

.about a {
    color: #01ACFD;
}

.facilities a {
    color: #05D4DF;
}

.admission a {
    color: #5D58EF;
}

.primary-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 14px 50px;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 56px;
}

.primary-text {
    color: #FEA301;
}

.secondary-text {
    color: #01ACFD;
}

.banner-description {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 36px;
}

.secondary-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 14px 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
}

.curriculum {
    padding: 60px 0px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    text-align: center;
    font-size: 56px;
    margin: 80px 0px;
}

.curriculum-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.curriculum-card {
    padding: 56px 26px;
    border-radius: 16px;
}

.curriculum-card img {
    width: 120px;
    height: 120px;
}

.blue-card {
    border: 1px solid #01adfd2c;
    background-image: linear-gradient(to top, white, white, white, white, white, #01adfd2c);
}

.curriculum-card-title {
    font-size: 26px;
}

.curriculum-card-description {
    font-size: 18;
    font-weight: 500;
    color: #808080 ;
    line-height: 30px;
}

.yellow-card {
    border: 1px solid #fea10142;
    background-image: linear-gradient(to top, white, white, white, white, white, #fea10142);
}

.curriculum-btn {
    margin-top: 30px;
    border: none;
    background: none;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.blue-btn {
    color: #01ACFD;
}

.yellow-btn {
    color: #FEA301;
}

.purple-btn {
    color: #5D58EF;
}

.purple-card {
    border: 1px solid #5d58ef3a;
    background-image: linear-gradient(to top, white, white, white, white, white, #5d58ef3a);
}

.curriculum-lower-btns {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.swap-btn {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 100px;
    background-color: #FEA301;
    color: white;
}