/* Universal Styles */

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

* {
    margin: 0px;
}

header {
    max-width: 1160px;
    margin: auto;
}

.banner {
    max-width: 1160px;
    margin: auto;
}

.curriculum {
    max-width: 1160px;
    margin: auto;
}

.stories {
    max-width: 1160px;
    margin: auto;
}

/* Styles for Bigger screens */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo-title {
    font-size: 34px;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 60px;
}

.link-container {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0px;
}

.link-container li a {
    text-decoration: none;
    font-weight: 700;
}

.home a {
    color: #FEA301;
}

.about a {
    color: #01ACFD;
}

.facilities a {
    color: #05D4DF;
}

.admission a {
    color: #5D58EF;
}

.primary-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 14px 50px;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 56px;
    padding-bottom: 30px;
}

.primary-text {
    color: #FEA301;
}

.secondary-text {
    color: #01ACFD;
}

.banner-description {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 36px;
    line-height: 28px;
}

.secondary-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 14px 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
}

.curriculum {
    padding: 60px 0px;
    padding-bottom: 0px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    text-align: center;
    font-size: 56px;
    padding: 80px 0px;
    margin: 0px;
}

.curriculum-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.curriculum-card {
    padding: 56px 26px;
    border-radius: 16px;
}

.curriculum-card img {
    width: 120px;
    height: 120px;
}

.blue-card {
    border: 1px solid #01adfd2c;
    background-image: linear-gradient(to top, white, white, white, white, white, #01adfd2c);
}

.curriculum-card-title {
    font-size: 26px;
}

.curriculum-card-description {
    font-size: 18;
    font-weight: 500;
    color: #808080;
    line-height: 30px;
}

.yellow-card {
    border: 1px solid #fea10142;
    background-image: linear-gradient(to top, white, white, white, white, white, #fea10142);
}

.curriculum-btn {
    margin-top: 30px;
    border: none;
    background: none;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.blue-btn {
    color: #01ACFD;
}

.yellow-btn {
    color: #FEA301;
}

.purple-btn {
    color: #5D58EF;
}

.purple-card {
    border: 1px solid #5d58ef3a;
    background-image: linear-gradient(to top, white, white, white, white, white, #5d58ef3a);
}

.curriculum-lower-btns {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.swap-btn {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 100px;
    background-color: #FEA301;
    color: white;
}

.story-section {
    padding: 60px 0px;
    background-image: linear-gradient(to bottom, white, #f9e0b2a9);
}

.stories {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.stroy-card-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.story-card-title {
    font-size: 26px;
    margin: 20px 0px;
}

.floating-btn {
    padding: 16px 30px;
    border: none;
    border-radius: 100px;
    color: white;
    position: relative;
    bottom: 28px;
    left: 40px;
}

.aqua-btn {
    background-color: #3CD8E8;
}

.grass-btn {
    background-color: #95B226;
}

.deep-blue-btn {
    background-color: #5D58F0;
}

.story-card h5 {
    margin: 0px;
    padding: 20px 25px;
    line-height: 25px;
}

.story-card {
    background-color: white;
    border-radius: 16px;
    overflow:hidden;
}

.stories-btn-container {
    text-align: center;
    padding-top: 60px;
}

.stories-container {
    background-image: url(../assets/bg.png);

    background-size: cover;
}

.story-card img {
    width: 100%;
}

.main-story-content {
    padding: 0px 40px;
}

.main-story-content h4 {
    margin-bottom: 40px;
    margin-top: 0;
}